.login {
    color: rgb(66, 33, 1);
    padding: 45px;
    background-color: antiquewhite;
    font-size: 30px;
    font-family: sans-serif;
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10%;
    
}
#uname,
#pass {
    border-radius: 15px 50px 30px;
    background: #f6f8f5;
    padding: 10px;
    width: 150px;
    height: 2px;
}

#login_btn {
    width: 150px;
    height: 30px;
    border-radius: 17px;
    padding-left: 10px;
    color: rgb(18, 18, 19);
}